
body{
    background-color:white;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#topNav{
    position: absolute;
    width: 500px;
    top: 10px;
    right: 10px;
}

#topNav li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: blue;
}

.activePage{
    color: blue;
    border-bottom: solid thin blue;
}

#home{
    background-color: #F2F2F2;
    border: 2px solid black;
    padding-top: 10px;
    margin-top: 2px;
    padding-bottom: 50px;
    width: 100%;
}

header {
    background-color: black;
    padding-bottom: 20px;
}
/* fix this style */
#logo {
    transform: rotate(90deg);
    width: 50px;
    height:50px;
    border-radius: 100px;
    padding-left: 40px; 
}

#homeBarb{
   width: 300px;
   height: 300px;
    position: absolute;
    padding-left: 800px;
    top: 85px; 
}

.barb{
    width: 300px;
    height: 250px;
    margin-right: 50px;
    margin-top: 40px;
    padding-left: 60px;
}
/* fix this style */
#footerBottom {
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

#form {
    padding-left: 300px;
}
/* fix this style */
.barb1 {
    width: 300px;
    height: 250px;
    margin-right: 50px;
    margin-top: 40px;
    padding-left: 60px;
}

#art1, #art2, #art3 {
    float: left;
    text-align: center;
    font-weight: bold;
    border: 1.5px, black, solid;
    margin-left: 50px;
    background-color:#F2F2F2 ;
}  

.cut {
    width: 250px;
    height: 250px;
    padding: 30px;
}

#prices {
    background-image: none;
}

.break {
    clear: both;
}

h1{
    font-size: 2em;
    padding-left: 30px;
    padding-bottom: 15px;
    margin: 0%;
}

h2{
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0%;
    padding-left: 30px;
}

p {
    font-size: 1em;
    padding-left: 30px;
}

#heading1, #heading2, #heading3, #heading4 {
    font-size: 2em;
    padding-left: 30px;
    padding-bottom: 15px;
    margin: 0%;
    padding-top: 30px;  
}

.title {
    color: white;
    font-size: 2em;
}

@media only screen and (max-width: 960px) {
    body {
        width: 360px;
        margin-left: 80px;
    }

    header {
        height: 375px;
    }

    #topNav {
        position: absolute;
        width: 350px;
        top: 50px;
        right: 5px;
    }

    #topNav li {
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #home {
        padding-right: 20px;
        width: 340px;
    }

    #footerBottom {
        padding-left: 10px;
    }

    #form {
        width: 320px;
        padding-left: 30px;
    }

    h1 {
        font-size: 1em;
        padding-left: 15px;
        padding-bottom: 7.5px;
        margin: 0%;
    }

    h2{
        font-size: 0.75em;
        font-weight: lighter;
        margin: 0%;
        padding-left: 15px;
    }

    p {
        font-size: 0.5em;
        padding-left: 15px;
    }

    #heading1, #heading2, #heading3, #heading4 {
        font-size: 1em;
        padding-left: 15px;
        padding-bottom: 7.5px;
        margin: 0%;
        padding-top: 15px;  
    }

    .title {
        color: white;
        font-size: 1em;
    }

    #points {
        font-size: 0.5em;
        padding-left: 25px;
    }

    #logo {
        width: 25px;
        height:25px;
        border-radius: 50px;
        padding-left: 20px; 
    }

    #topNav li{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.75em;
    }

    #homeBarb{
        width: 100px;
        height: 100px;
        position: absolute;
        padding-left: 225px;
        top: 440px; 
    }

    .barb{
        width: 90px;
        height: 60px;
        margin-right: 5px;
        margin-top: 20px;
        padding-left: 15px;
    }

    header {
        padding-bottom: 1px;
    }

    #art1, #art2, #art3 {
        margin-left: 25px;
    }

    .barb1 {
        padding-left: 30px;
    }
}

        form {
            max-width: 500px;
            margin: 40px auto;
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        input, textarea, button {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        input:focus, textarea:focus {
            border-color: #1E73BE;
            outline: none;
        }

        .error {
            color: red;
            font-size: 0.9em;
        }

        .success {
            color: green;
            text-align: center;
        }